@import "../timeline/timeline.component";
@import "../../../styles/mixin";

.timeline {
  font-family: sans-serif;
  font-size: 10px;
}

.vis-item {
  border-color: #83A2BE !important;
  &.vis-selected {
    border-color: #1750ea !important;
    transform: scale(1.25);
  }
}

.vis-item.vis-dot {
  &.radius-5 {
    border-radius: 5px;
    border-width: 5px;
    &:hover {
      @include animate-hover();
    }
    //top: 20px !important;
  }
  &.radius-10 {
    border-radius: 10px;
    border-width: 10px;
  }
  &.radius-15 {
    border-radius: 15px;
    border-width: 15px;
  }
}

.vis-item .vis-item-content {
  display: none;
}

.vis-panel.vis-center {
  overflow: initial;
}
