$tnMainHeaderBG :#232427;
$tnMainHeaderSelection  :#1b1c1e;
$tnMainHeaderStrokes  :#44454b;
$tnMainBG  :#ffffff;
$tnSecondaryBG  :#f5f8fa;
$tnThirdBG   :#e8eff4;
$tnStrokeMain  :#a7bacd;
$tnStrokeSecondary  :#cbd6e2;
$tnFontIconsMain:#495b70;
$tnFontIconsSecondary :#758ca6;
$tnSelectionStroke  :#207eed;
$tnSelectionBG  :#d9e9fc;

$tnOK  :#1ec6b0;
$tnBad  :#ec4235;
$tnCritical  :#ec4235;
$tnHigh  :#faa32b;
$tnMedium  :#f7f25e;
$tnLow  :#b8e3e5;
$tnInformative  :#6a6d6f;
