@import "../../../styles/var";

.timeline-component {
  display: flex;
  align-items: center;
  position: relative;

  .d3-timeline {
    flex: 1;
    background: #fff;
  }

  .zoom {
    width: 30px;
    max-width: 30px;
  }
}



.brush > rect {
  &.selection {
    fill: #E9F2FB;
  }

  &.handle {
    //stroke: #5093E1;
    fill: $blue2;
  }
  &.overlay {
    cursor: none;
  }
}
.handle--custom{
  fill:$blue;
  font-size: 9px;
  font-family: sans-serif;
}

.brush-duration{
  fill:$blue2;
  font-size: 10px;
  font-family: sans-serif;
}

.needle {
  >.needle-text{
    font: 10px sans-serif;
    fill: $blue;
  }

  >.needle-rect {

    stroke: $blue;
    fill: $blue;
  }
}

.tooltip {
  position: absolute;
  text-align: center;
  min-width: 70px;
  max-width: 120px;
  min-height: 14px;
  padding: 4px 7px;
  font: 9px sans-serif;
  background: rgba(0, 0, 0, 0.9);
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  color: white;
  white-space: pre-wrap;
  &:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: calc(45%);
    bottom: -5px;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
  }
}

circle {
  stroke: $blue;
  fill: #fff;
  //cursor: pointer;
}

.axis-x line {
  stroke: $blue;
}

.axis-x path {
  stroke: $blue;
}

.axis-x text {
  fill: $blue;
}


.zoom-level-debug-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-family: Arial;
  color: #B5B5B5;
}
