$border: #83A2BE;

.d3-chart {
  height: 120px;
  background: #fff;
}

rect {
  cursor: default;

  &.selection{
    //stroke: #5093E1;
    fill: #E9F2FB;
  }

  &.handle.handle {
    width:1px;
    stroke:#5093E1;
    fill:#5093E1;
    height: 90px;
    y:0;
  }
}



circle{
  stroke: $border;
  fill:#fff;
  cursor: pointer;
}

.axis-x line {
  stroke: $border;
}

.axis-x path {
  stroke: $border;
}

.axis-x text {
  fill: $border;
}
