<div class="timeline-player-container">

  <div class="vbutton action">
    <i class="material-icons">skip_previous</i>
    <p>Previous Event</p>
  </div>

  <div class="control-group">
    <div (click)="togglePlay()" class="play action">
      <i *ngIf="!isPlaying" class="material-icons">play_arrow</i>
      <i *ngIf="isPlaying" class="material-icons">pause</i>
    </div>
    <div class="speed">
      <i (click)="decreaseSpeed()" class="material-icons action">fast_rewind</i>
      <span class="multiplier">x{{ speed }}</span>
      <i (click)="increaseSpeed()" class="material-icons action">fast_forward</i>
    </div>
  </div>

  <div class="vbutton action">
    <i class="material-icons">skip_next</i>
    <p>Next Event</p>
  </div>
</div>
